<app-toolbar-header></app-toolbar-header>
<ion-content>
  <ion-card  *ngIf="countdown != 0">
    <ion-card-header style="margin-top: -25px; margin-bottom: -10px;">
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="team-name">Danh sách tham gia đôi nam</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-list>
              <table class="team-members">
                <tbody>
                  <tr *ngFor="let player of MenPlayers; let i = index" style="background-color: lightgreen;">
                    <td>{{ i + 1 }}</td>
                    <td>{{player.playerName}}</td>
                    <td>{{player.level}}</td>
                  </tr>
                </tbody>
              </table>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <div class="happy-tournament" *ngIf="countdown != 0">
    <span class="btn" (click)="startCountdown()">Chuẩn bị bốc thăm trong {{ countdown }} giây</span>
  </div>
  <ion-card  *ngIf="countdown == 0">
    <ion-card-header style="margin-top: -25px; margin-bottom: -10px;">
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="team-name">Kết quả bốc thăm chia nhóm đôi nam</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-list>
              <table class="team-members">
                <thead>
                  <tr>
                    <th colspan="3">Bảng A</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let player of teamsToShowGroupA; let i = index" style="background-color: lightgreen;">
                    <td>{{ i + 1 }}</td>
                    <td>{{player}}</td>
                  </tr>
                </tbody>
              </table>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <table class="team-members">
                <thead>
                  <tr>
                    <th colspan="3">Bảng B</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let player of teamsToShowGroupB; let i = index" style="background-color: lightgreen;">
                    <td>{{ i + 1 }}</td>
                    <td>{{player}}</td>
                  </tr>
                </tbody>
              </table>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
      <img src="/VietnameseTennisTournament/assets/images/BannerTennis.png" />
    </ion-card-content>
  </ion-card>
</ion-content>
