<ion-menu contentId="menu-content" menuId="menu-content" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title color="primary" class="menuTitle">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- <ion-item detail="true" (click)="loadMenSingle();">
        <ion-label color="primary">Men Single</ion-label>
        <ion-icon color="primary" slot="start" name="calendar-outline"></ion-icon>
      </ion-item>
      <ion-item detail="true" (click)="loadMenDoubles();">
        <ion-label color="primary">Men Doubles</ion-label>
        <ion-icon color="primary" slot="start" name="calendar-outline"></ion-icon>
      </ion-item> -->
      <ion-item detail="true" (click)="loadMenSingleResult();">
        <ion-label color="primary">Men Single</ion-label>
        <ion-icon color="primary" slot="start" name="calendar-outline"></ion-icon>
      </ion-item>
      <ion-item detail="true" (click)="loadMenDoublesResult();">
        <ion-label color="primary">Men Doubles</ion-label>
        <ion-icon color="primary" slot="start" name="calendar-outline"></ion-icon>
      </ion-item>
      <ion-item detail="true" (click)="loadMixedDoubles();">
        <ion-label color="primary">Mixed Doubles</ion-label>
        <ion-icon color="primary" slot="start" name="calendar-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
